<template>
  <nav >
    <ul>
      <img class="logo" src="@/assets/mufc-logo.png" />
    </ul>
    <ul>
      <li><NuxtLink to="/">Play</NuxtLink></li>
      <li><a href="https://chat.whatsapp.com/FQMHp0BArjq4QPKdNKCiN1" target="_blank">WhatsApp group</a></li>
      <li><NuxtLink to="/rules">Règles / Rules</NuxtLink></li>
    </ul>
  </nav>
</template>
<script setup>

</script>
<style lang="scss" scoped>
.logo {
  max-width: 100px;
}

</style>
