<template>
  <div class="hn-root" :class="{ sticky: isSticky }">
    <slot></slot>
  </div>
</template>
<script setup>
import { computed, onBeforeMount, onBeforeUnmount, ref } from "vue";

const currentScroll = ref(0);
const isSticky = computed(() => {
  return currentScroll.value > 100;
});


const onScroll = () => {
  currentScroll.value = window.pageYOffset;
};

onBeforeMount(function () {
  window.addEventListener("scroll", onScroll);
});
onBeforeUnmount(() => {
  window.removeEventListener("scroll", onScroll);
});

const appConfig = useAppConfig();
const secondary = appConfig?.theme?.colors?.secondary || "#ffdd57";
const color = appConfig?.theme?.colors?.black || "black";
</script>

<style lang="scss" scoped>
.hn-root {
  background-color: v-bind(secondary);
  padding: 13px 10px;
  color: v-bind(color);
  top: -200px;
  height: 50px;
  display:flex;
  align-items: center;
  column-gap:5px;
}

.hn-root.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: top linear 0.5s;
}
</style>
