<template>
  <div>
    <HeadNotification>
      Follow us on
      <a href="https://www.facebook.com/MontpellierUnitedFC" target="_blank"
        >Facebook</a
      >
      -
      <a href="https://www.instagram.com/montpellierunited/" target="_blank"
        >Instagram</a
      >
    </HeadNotification>
    <div class="root" >
      <AppNav></AppNav>
      <slot></slot>
    </div>
  </div>
</template>
<script setup>
</script>
<style lang="scss" scoped>

.root {
  padding: 20px;
  margin-top:0px
}
</style>
