<template>
    <div class="root">
        <h1>Welcome to Montpellier United Football Club registration page - bienvenue sur la page d'inscription du Montpellier United Football Club</h1>
    </div>
</template>
<style lang="scss" scoped>
.root{
    min-height: 2000px;
}
h1{
    color:var(--primary);
    text-align: center;
}
</style>