<template>
  <h1>Rules</h1>
  <ul>
    <li>
      Esprit convivial en toutes circonstances ! Respect total des adversaires
      et des coéquipiers, pas de tacles. Que de l'amour ! Friendly spirit in all
      circumstances! Full respect of opponents and teammates, no tackles. Only
      love!
    </li>
    <li>
      Tous joueurs arrivant après 8h30 se verra refuser l'accès aux matchs. All
      players arriving after 8:30 a.m. will be refused access to matches.
    </li>
  </ul>
</template>
